
/* GRID */
.ivm-folder-grid .ivm-folder .folder > span {
    text-transform:uppercase;
    font-family:'Fakt Medium';
    color:#999;
}
.ivm-folder-grid .ivm-folder .folder:hover > span {
    color:#fff;
}

/* LIST */
#ivm-admin-main.ivm-folder-list .ivm-folder {
    width:50%;
}


#ivm-admin-main.ivm-folder-list .folder-row {
    min-height:50px;
}
#ivm-admin-main.ivm-folder-list .ivm-folder {
    padding-bottom:10px;
}
#ivm-admin-main.ivm-folder-list .ivm-folder .folder {
    height:50px;
    width:100%;
    line-height:50px;
    padding-left:10px;
    text-align:left;
}

#ivm-admin-main.ivm-folder-list .ivm-folder .folder::before {
    font-size:30px;
    color:#888;
}

#ivm-admin-main.ivm-folder-list .ivm-folder .folder > span {
    background: transparent;
    height:50px;
    line-height:50px;
    border:0px;
    text-transform:uppercase;
    font-family:'Fakt Medium';
    color:#999;
    display: inline-block;
    text-align:left;
    padding-left:10px;
}

.ivm-folder-list .ivm-folder .folder:hover {
    background:transparent;
}
#ivm-admin-main.ivm-folder-list .ivm-folder .folder:hover > span {
    color:#666;
    text-shadow:none;
}

form.rename-form,
.rename-form input {
    width:100%;
    margin-bottom:10px;
}

/* editors */
#textblock, #wysiwyg {
	background:#fff;
	color:#444;
	font-family:'Fakt';
}

.redactor-editor > * {
	font-family:'Fakt';
}

.CodeMirror span {
	font-family:'Fakt';
}

/* dev-tools fixes */

.ivm-html-code {
	margin-bottom:0px;
}

.ivm-html-code::-moz-selection { 
	background: #39f; 
	color:transparent;
}
.ivm-html-code::selection { 
	background: #39f;
	color:transparent;
}


/* ========================================================================
   Component: Animation
 ========================================================================== */
[class*='uk-animation-'] {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* Hide animated element if scrollspy is used */
@media screen {
  [data-uk-scrollspy*='uk-animation-']:not([data-uk-scrollspy*='target']) {
    opacity: 0;
  }
}

/* ANIMATION RIGHT */
.uk-animation-slide-right {
  -webkit-animation-name: uk-fade-right;
  animation-name: uk-fade-right;
}
