@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
}
.flaticon-delete:before {
	content: "\e000";
}
.flaticon-delete-1:before {
	content: "\e001";
}
.flaticon-eye:before {
	content: "\e002";
}
.flaticon-folder:before {
	content: "\e003";
}
.flaticon-folder-o:before {
	content: "\e004";
}
.flaticon-page:before {
	content: "\e005";
}
.flaticon-menu:before {
	content: "\e006";
}
.flaticon-off:before {
	content: "\e007";
}
.flaticon-save:before {
	content: "\e008";
}
.flaticon-page-1:before {
	content: "\e009";
}
.flaticon-page-2:before {
	content: "\e00a";
}
